<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Cars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Model</a>
                <a href="" class="dropdown-item ">By Year</a>
                <a href="{% url 'cars' %}" class="dropdown-item">All Cars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse Makes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'cars' %}?make=audi" class="dropdown-item">Audi</a>
                <a href="{% url 'cars' %}?make=bmw" class="dropdown-item">BMW</a>
                <a href="{% url 'cars' %}?make=daewoo" class="dropdown-item">Daewoo</a>
                <a href="{% url 'cars' %}?make=daimler" class="dropdown-item">Daimler</a>
                <a href="{% url 'cars' %}?make=ford" class="dropdown-item">Ford</a>
                <a href="{% url 'cars' %}?make=mercedes" class="dropdown-item">Mercedes</a>
                <a href="{% url 'cars' %}?make=mitsubishi" class="dropdown-item">Mitsubishi</a>
                <a href="{% url 'cars' %}?make=tesla" class="dropdown-item">Tesla</a>
                <a href="{% url 'cars' %}?make=toyota" class="dropdown-item">Toyota</a>
                <a href="{% url 'cars' %}?make=vauxhall" class="dropdown-item">Vauxhall</a>
                <a href="{% url 'cars' %}?make=vaz" class="dropdown-item">VAZ</a>
                <a href="{% url 'cars' %}?make=audi,bmw,daewoo,daimler,ford,mercedes,mitsubishi,tesla,toyota,vauxhall,vaz" class="dropdown-item">All Cars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>