{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Your Favorite Cars</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            {% if favorite_cars %}
                {% for car in favorite_cars %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ car.image_url }}" class="card-img-top" alt="{{ car.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ car.name }}</h5>
                                <p class="card-text">{{ car.description }}</p>
                                <p class="card-text"><strong>Price: €{{ car.price }}</strong></p>
                                <form method="post" action="{% url 'remove_from_favorites' car.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm mt-2">
                                        <i class="fas fa-heart"></i> Remove from Favorites
                                    </button>
                                </form>
                                <div class="buttons-section mt-3">
                                    <a href="{% url 'cars' %}" class="btn btn-outline-black rounded-0">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <form class="d-inline" action="{% url 'add_to_bag' car.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to My Garage">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col">
                    <p>You haven't favorited any cars yet.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
